.main-template {
    display: grid;
    grid-template-areas: "sidebar main-content";
    grid-template-columns: 256px 1fr;
}
.sidebar {
    grid-area: sidebar;
    position: sticky;
    top: 0;
    height: 100vh;
}

.main-content {
    grid-area: main-content;
    width: calc(100vw - 10%);
}
