.modal-background-color{
    background: var(--modal-bg-color);
    backdrop-filter: blur(1px);
}
.modal-box-shadow{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.modal {
    display: none;
}
.modal[x-show="open"] {
    display: flex;
}
